<table style="width: 100%; height: 100%; font-size: 1.1em;" class="main-table">
    <tr>
        <td style="height: 30px;" colspan="2" class="lcell title bg-red"><input type="checkbox" class="checkbox__control"><b> Protocole Restriction
            Hydrique</b> </td>
    </tr>
    <tr>
        <td class="title">
            Sorties
        </td>
        <td class="title">
            Entrées
        </td>
    </tr>
    <tr style="height: 100px;">
        <td class="main-table border3"></td>
        <td class="main-table border3"></td>
    </tr>
    <tr style="vertical-align: top; height: 40px">
        <td class="main-table border3">Total Sorties:</td>
        <td class="main-table border3">Total Entrées:</td>
    </tr>

</table>
