<table style="width: 100%; height: 100%; font-size: 1.1em;" class="main-table">
    <tr class="cell-left cell-height bg-g" style="padding: 0; margin: 0;"><td class="lcell bg-red">
                        <table>
                            <tr>
                               <td><b><input type="checkbox" class="checkbox__control"><b>Protocole Restriction Hydrique</b></td></td>
                            </tr>
                        </table>
                    </tr>
    <tr>
        <td class="title">
            Sorties
        </td>
        <td class="title">
            Entrées
        </td>
    </tr>
    <tr style="height: 110px;"><td class="main-table border3"></td><td class="main-table border3"></td></tr>
    <tr style="vertical-align: top; height: 40px"><td class="main-table border3">Total Sorties: </td><td class="main-table border3">Total Entrées: </td></tr>

</table>
