<table style="width: 100%; height: 100%; font-size: 1.1em;" class="main-table">
    <tr>
        <td colspan="2">
            <table style="width: 100%">
                <tr>
                    <td colspan="3" style="text-align: center" class="title">Positionnement</td>
                </tr>
                <tr><td colspan="3" class="row-space1"></td></tr>
                <tr>
                    <td><input type="checkbox" class="checkbox__control"> DD</td>
                    <td><input type="checkbox" class="checkbox__control"> DLA</td>
                    <td><input type="checkbox" class="checkbox__control"> DV</td>
                </tr>
                <tr>
                    <td colspan="3"><input type="checkbox" class="checkbox__control"> Fauteuil</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <table style="width: 100%">
                <tr><td colspan="3" class="row-space1"></td></tr>
                <tr>
                    <td colspan="3" style="text-align: center" class="title">Contention</td>
                </tr>
                <tr><td colspan="3" class="row-space1"></td></tr>
                <tr>
                    <td><input type="checkbox" class="checkbox__control"> Non</td>
                    <td><input type="checkbox" class="checkbox__control"> MS</td>
                    <td><input type="checkbox" class="checkbox__control"> MI</td>
                </tr>
                <tr><td colspan="3" class="row-space2"></td></tr>
            </table>
        </td>
    </tr>
</table>