<table>
    <tr>
        <td>
            {% include 'right/resp-right.html' %}
        </td>
    </tr>
    <tr>
        <td>
            {% include 'right/gly-right.html' %}
        </td>
    </tr>
    <tr>
        <td>
            {% include 'right/neuro-right.html' %}
        </td>
    </tr>
    <tr>
        <td>
            {% include 'right/dig-right.html' %}
        </td>
    </tr>
    <tr>
        <td>
            {% include 'right/rea-right.html' %}
        </td>
    </tr>
     <tr>
        <td>
            {% include 'right/sevrage-tracheo-right.html' %}
        </td>
    </tr>
    <tr>
        <td>
            {% include 'right/peros-right.html' %}
        </td>
    </tr>
</table>
