<table style="width: 100%; height: 100%; font-size: 1.1em;" class="main-table">
    <tr>
        <td colspan="2">
            <table style="width: 100%">
                <tr>
                    <td colspan="2" style="text-align: center" class="title bg-red">DIALYSE</td>
                </tr>
                <tr><td class="row-space1"></td></tr>
                <tr>
                    <td><input type="checkbox" class="checkbox__control"> CVVHD</td>
                    <td><input type="checkbox" class="checkbox__control"> CVVHF</td>
                </tr>
                <tr><td class="row-space1"></td></tr>
                <tr>
                    <td><input type="checkbox" class="checkbox__control"> Citrate</td>
                    <td><input type="checkbox" class="checkbox__control"> Heparine</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <table style="width: 100%">
                <tr>
                    <td style="text-align: center" class="title bg-red">PRESCRIPTION CVVHD</td>
                </tr>
                 <tr>
                    <td><input type="checkbox" class="checkbox__control"> Débit Sang:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ml/min</td></tr>
                    <tr> <td><input type="checkbox" class="checkbox__control"> Débit Dialysat:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ml/heure</td></tr>
                    <tr> <td><input type="checkbox" class="checkbox__control"> UF:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ml/heure</td></tr>
                    <tr> <td><input type="checkbox" class="checkbox__control"> K+:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ml/poche</td></tr>
            </table>
        </td>
    </tr>

</table>
