<table style="width: 100%; height: 100%; font-size: 1.1em;" class="main-table">
    <tr>
        <td colspan="2">
            <table style="width: 100%">
                <tr>
                    <td style="text-align: center" class="title">Dialise</td>
                </tr>
                <tr><td class="row-space1"></td></tr>
                <tr>
                    <td><input type="checkbox" class="checkbox__control"> Citrate</td>
                </tr>
                <tr>
                    <td><input type="checkbox" class="checkbox__control"> Heparine</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <table style="width: 100%">
                <tr>
                    <td style="text-align: center" class="title">Objectifs : </td>
                </tr>
                <tr><td style="height: 55px;"></td></tr>
            </table>
        </td>
    </tr>

</table>