<table style="width: 100%; height: 100%; text-indent: 5px; font-size: 1.1em" class="main-table">
    <tr class="bg-g" style="height: 60px;vertical-align: top;">
        <td>NB de jours de Ventilation Mécanique:</td>
    </tr>
    <tr style="height: 60px;vertical-align: top;">
        <td>NB Total de DV:</td>
    </tr>
    <tr class="bg-g" style="height: 60px;vertical-align: top;">
        <td>NB de CGR ce jours:</td>
    </tr>
    <tr style="height: 60px;vertical-align: top;">
        <td>NB TOTAL DE CGR:</td>
    </tr>
</table>
