<table style="width: 100%; height: 100%; text-indent: 5px; font-size: 1.1em" class="main-table">
    <tr class="bg-g" style="height: 45px;vertical-align: top;">
        <td><b>NB de jours de VENTILATION:</b><br>VM:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp; VNI:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    </tr>
    <tr class="bg-g" style="height: 45px;vertical-align: top;">
        <td colspan="2"<b>NB Total de DV:</b></td>
    </tr>
    <tr style="height: 45px;vertical-align: top;">
        <td colspan="2"<b>NB de jours d'AMINES:</b></td>
    </tr>
    <tr style="height: 45px;vertical-align: top;">
        <td colspan="2"<b>NB de jours d'EER:</b></td>
    </tr>
    <tr class="bg-g" style="height: 45px;vertical-align: top;">
        <td><b>NB de PSL ce jour:</b><br>CGR:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;PFC:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/CP:</td>
    </tr>
    <tr style="height: 45px;vertical-align: top;">
        <td><b>NB TOTAL DE PSL:</b><br>CGR:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;PFC:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/CP:</td>
    </tr>
</table>
