<table style="width: 100%; height: 100%; text-indent: 10px;" class="main-table">
    <tr>
        <td class="title bg-red">
           BILAN DU JOUR:
        </td>
    </tr>
    <tr><td class="row-space1"></td></tr>
    <tr><td><input type="checkbox" class="checkbox__control"> GDS:</td></tr>
    <tr><td><input type="checkbox" class="checkbox__control"> NFS:</td></tr>
    <tr><td><input type="checkbox" class="checkbox__control"> IONO / OE :</td></tr>
    <tr><td><input type="checkbox" class="checkbox__control"> HAA / ECBU / AT si T°>38,3°C</td></tr>
    <tr><td><input type="checkbox" class="checkbox__control"> AUTRE:</td></tr>
    <tr style="height: 130px;"><td></td></tr>
    </tr>
    <tr>
        <td class="title bg-red">
           BILAN DU LENDEMAIN:
        </td>
    </tr>
    <tr><td class="row-space1"></td></tr>
    <tr><td><input type="checkbox" class="checkbox__control"> GDS</td></tr>
    <tr><td><input type="checkbox" class="checkbox__control"> NFS</td></tr>
    <tr><td><input type="checkbox" class="checkbox__control"> IONO / OE</td></tr>
    <tr><td><input type="checkbox" class="checkbox__control"> FONCTION RÉNALE</td></tr>
    <tr><td><input type="checkbox" class="checkbox__control"> BILAN HÉPATIQUE</td></tr>
    <tr><td><input type="checkbox" class="checkbox__control"> TP / TCA / ANTI XA</td></tr>
    <tr><td><input type="checkbox" class="checkbox__control"> FIBRINOGÉNE, D-DIMÉRES</td></tr>
    <tr><td><input type="checkbox" class="checkbox__control"> CRP / PCT</td></tr>
    <tr><td><input type="checkbox" class="checkbox__control"> IONO URINAIRE</td></tr>
    <tr><td><input type="checkbox" class="checkbox__control"> ECG</td></tr>
    <tr><td><input type="checkbox" class="checkbox__control"> IMAGERIE:</td></tr>
    <tr><td><input type="checkbox" class="checkbox__control"> AUTRE:</td></tr>
    <tr style="height: 40px;"><td></td></tr>
    <tr>
        <td class="title">
           A FAIRE / A PRÉVOIR:
        </td>
    </tr>
    <tr style="height: 170px;"><td></td></tr>

</table>
