<table style="width: 100%; height: 100%; text-indent: 10px;" class="main-table">
    <tr>
        <td class="title">
           Bilan du jour:
        </td>
    </tr>
    <tr style="height: 105px;"><td></td></tr>
    <tr>
        <td class="title">
           Bilan du lendemain:
        </td>
    </tr>
    <tr><td class="row-space1"></td></tr>
    <tr><td><input type="checkbox" class="checkbox__control"> GDS</td></tr>
    <tr><td><input type="checkbox" class="checkbox__control"> NFS</td></tr>
    <tr><td><input type="checkbox" class="checkbox__control"> iono / OE</td></tr>
    <tr><td><input type="checkbox" class="checkbox__control"> Fct Rénale</td></tr>
    <tr><td><input type="checkbox" class="checkbox__control"> Bilan hép</td></tr>
    <tr><td><input type="checkbox" class="checkbox__control"> coag</td></tr>
    <tr><td><input type="checkbox" class="checkbox__control"> IMAGERIE</td></tr>
    <tr><td><input type="checkbox" class="checkbox__control"> ECG</td></tr>
    <tr style="height: 70px;"><td></td></tr>
    <tr>
        <td class="title">
           A Faire / A Prévoir:
        </td>
    </tr>
    <tr style="height: 110px;"><td></td></tr>

</table>