<table style="width: 100%; height: 100%; margin-top: -55px" class="main-table">
    <tr>
        <td colspan="2">
            <table style="width: 100%;">
                <tr>
                    <td colspan="2" style="text-align: center" class="title bg-red">PRESCRIPTION VENTILATION</td>
                </tr>
                <tr><td colspan="2" class="row-space1"></td></tr>
                <tr>
                    <td><input type="checkbox" class="checkbox__control"> NASAL</td>
                    <td><input type="checkbox" class="checkbox__control"> MHC</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr><td colspan="2"></td></tr>
    <tr>
        <td colspan="2">
            <table style="width: 100%; text-indent: 3px">
                <tr>
                    <td class="main-table border1r"><input type="checkbox" class="checkbox__control"> OHD</td>
                    <td><input type="checkbox" class="checkbox__control"> VNI</td>
                </tr>
                <tr> 
                    <td><input type="checkbox" class="checkbox__control"> MONO /</td><td><input type="checkbox" class="checkbox__control"> BI</td>
                </tr>
                <tr>
                    <td class="main-table border1r"> DEBIT: </td>
                    <td> PEP: </td>
                </tr>
                <tr>
                    <td class="main-table border1r"> FiO2: </td>
                    <td> AI: </td>
                </tr>
                <tr>
                    <td style="padding-top: 5px;" class="main-table border1t"><input type="checkbox" class="checkbox__control"> VAC</td>
                    <td style="padding-top: 5px;" class="main-table border2"><input type="checkbox" class="checkbox__control"> VSAI</td>
                </tr>
                <tr>
                    <td class="main-table border1r"> VT: </td>
                    <td> PEP: </td>
                </tr>
                <tr>
                    <td class="main-table border1r"> PEP: </td>
                    <td> AI: </td>
                </tr>
                <tr>
                    <td class="main-table border1r"> FR: </td>
                    <td> FiO2: </td>
                </tr>
                <tr>
                    <td class="main-table border1r"> FiO2: </td>
                    <td> Trigger Insp: </td>
                </tr>
                <tr>
                    <td class="main-table border1r">Temps Plateau:</td>
                    <td> Trigger Exp: </td>
                </tr>
                <tr>
                    <td style="padding-top: 5px;" ><input type="checkbox" class="checkbox__control">OBJ SAT[92-98%]</td>
                    <td style="padding-top: 5px;"><input type="checkbox" class="checkbox__control">OBJ SAT=</td>
                </tr>
                <tr>
                    <td style="padding-top: 5px;" ><input type="checkbox" class="checkbox__control"> ERS</td>
                    <td style="padding-top: 5px;"><input type="checkbox" class="checkbox__control"> T tube</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <table style="width: 100%">
                <tr><td colspan="2" class="row-space1"></td></tr>
                <tr>
                    <td colspan="2" style="text-align: center" class="title bg-red">KINÉ</td>
                </tr>
                <tr><td colspan="2" class="row-space1"></td></tr>
                <tr>
                    <td><input type="checkbox" class="checkbox__control"> Respiratoire</td>
                    <td><input type="checkbox" class="checkbox__control"> Déglutition</td>
                </tr>
                <tr>
                    <td><input type="checkbox" class="checkbox__control"> Mobilisation</td>
                    <td><input type="checkbox" class="checkbox__control"> EOT</td>
                </tr>
                <tr>
                    <td style="padding-top: 10px">MRC:</td>
                    <td style="padding-top: 10px">GUSS:</td>
                </tr>
                <tr><td colspan="2" style="height: 40px;">NB:</td></tr>
            </table>
        </td>
    </tr>
</table>
