<table style="width: 100%; height: 100%; font-size: 1.1em;" class="main-table">
    <tr>
        <td colspan="2">
            <table style="width: 100%">
                <tr>
                    <td colspan="2" style="text-align: center" class="title">Prescription Ventilation</td>
                </tr>
                <tr><td colspan="2" class="row-space1"></td></tr>
                <tr>
                    <td><input type="checkbox" class="checkbox__control"> lum</td>
                    <td><input type="checkbox" class="checkbox__control"> VM</td>
                </tr>
                <tr>
                    <td colspan="2"><input type="checkbox" class="checkbox__control"> VMMC</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr><td colspan="2"></td></tr>
    <tr>
        <td colspan="2">
            <table style="width: 100%; text-indent: 3px">
                <tr>
                    <td class="main-table border1r"><input type="checkbox" class="checkbox__control"> OMD</td>
                    <td><input type="checkbox" class="checkbox__control"> VNI</td>
                </tr>
                <tr>
                    <td class="main-table border1r"> debit: </td>
                    <td> pep: </td>
                </tr>
                <tr>
                    <td class="main-table border1r"> fiO2: </td>
                    <td> AI: </td>
                </tr>
                <tr>
                    <td class="main-table border1r"> </td>
                    <td style="padding-bottom: 5px;"> Trigger: </td>
                </tr>
                <tr>
                    <td style="padding-top: 5px;" class="main-table border1t"><input type="checkbox" class="checkbox__control"> VAC</td>
                    <td style="padding-top: 5px;" class="main-table border2"><input type="checkbox" class="checkbox__control"> VSAI</td>
                </tr>
                <tr>
                    <td class="main-table border1r"> VT: </td>
                    <td> PEP: </td>
                </tr>
                <tr>
                    <td class="main-table border1r"> PEP: </td>
                    <td> AI: </td>
                </tr>
                <tr>
                    <td class="main-table border1r"> FR: </td>
                    <td> fiO2: </td>
                </tr>
                <tr>
                    <td class="main-table border1r"> fiO2: </td>
                    <td> Trigger: </td>
                </tr>
                <tr>
                    <td style="padding-top: 5px;" ><input type="checkbox" class="checkbox__control"> ERG</td>
                    <td style="padding-top: 5px;"><input type="checkbox" class="checkbox__control"> T tube</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <table style="width: 100%">
                <tr><td colspan="2" class="row-space2"></td></tr>
                <tr>
                    <td colspan="2" style="text-align: center" class="title">Kiné</td>
                </tr>
                <tr><td colspan="2" class="row-space1"></td></tr>
                <tr>
                    <td><input type="checkbox" class="checkbox__control"> Respi</td>
                    <td><input type="checkbox" class="checkbox__control"> Déglutition</td>
                </tr>
                <tr>
                    <td colspan="2"><input type="checkbox" class="checkbox__control"> Mobilisation</td>
                </tr>
            </table>
        </td>
    </tr>
</table>