<table style="width: 100%; height: 100%; font-size: 1.1em;" class="main-table">
    <tr>
        <td colspan="2">
            <table style="width: 100%">
                <tr>
                    <td colspan="3" style="text-align: center" class="title bg-red">SEVRAGE TRACHÉOTOMIE</td>
                </tr>
                <tr><td colspan="3" class="row-space1"></td></tr>
                <tr>
                    <td><input type="checkbox" class="checkbox__control"> BALLONET DÉGONFLÉ</td>
                    <td><input type="checkbox" class="checkbox__control"> NEZ ARTIFICIEL</td>
                </tr>
                <tr>
                    <td colspan="3"><input type="checkbox" class="checkbox__control"> VALVE PHONATOIRE</td>
                    <td colspan="3"><input type="checkbox" class="checkbox__control"> BOUCHON</td>
                    <td colspan="3"><input type="checkbox" class="checkbox__control"> HUMIDIFICATION / OHD</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
