<table style="width: 100%; font-size: 1em; text-indent: 5px;" class="main-table">
    <tr><td></td></tr>
    <tr>
        <td>JPO:</td>
        
    </tr>
    <tr class="bg-g">
        <td>SNG:</td>
        
    </tr>
    <tr>
        <td>SAD:</td>
        
    </tr>
    <tr class="bg-g">
        <td>VVP:</td>
        
    </tr>
    <tr>
        <td>VVC:</td>
    </tr>
    <tr class="bg-g">
        <td >KTA:</td>
    </tr>
    <tr>
        <td><table class="indent"><tr><td>IOT:</td><td>RAD:</td><td>Ø:</td></tr></table></td>
    </tr>
    <tr class="bg-g">
        <td >KTD:</td>
    </tr>

    <tr>
        <td><table class="indent"><tr><td>TRACHÉO:</td><td>Ø:</td></tr></table></td>
    </tr>
    <tr class="bg-g">
        <td >MODÉLE:</td>   
    </tr>
    <tr>
        <td>DRAIN THO:</td>
    </tr>
     <tr class="bg-g">
        <td><BR></td>
    </tr>
    <tr>
        <td ><br></td>
    </tr>
    <tr><td>
        <table style="width: 100%; text-indent: 5px;">
            <tr><td colspan="2" style="text-align: center" class="title bg-red">ISOLEMENT</td></tr>
            <tr><td colspan="2" class="row-space1"></td></tr>
            <tr><td style="vertical-align: center"><input type="checkbox" name="contact" class="checkbox__control"> BMR</td><td><input type="checkbox" class="checkbox__control"> COVID</td></td></tr>
            <tr><td><input type="checkbox" class="checkbox__control"> GOUTELETTES</td><td><input type="checkbox" class="checkbox__control"> BHR</td></td></tr>
            <tr><td><input type="checkbox" class="checkbox__control"> PROTECTEUR</td><td><input type="checkbox" class="checkbox__control"> CLOSTRIDIUM</td></td></tr>
        </table>
    </td></tr>
</table>
