<table style="width: 100%; font-size: 0.9em" class="main-table">
    <tr><td></td><td class="title">Repere</td></tr>
    <tr>
        <td>JPO:</td>
        <td class="trc1"></td>
    </tr>
    <tr class="bg-g">
        <td>SNG:</td>
        <td class="trc1"></td>
    </tr>
    <tr>
        <td>SAD:</td>
        <td class="trc1"></td>
    </tr>
    <tr class="bg-g">
        <td>VVP:</td>
        <td class="trc1"></td>
    </tr>
    <tr>
        <td>VVC:</td>
        <td class="trc1"></td>
    </tr>
    <tr class="bg-g">
        <td >KTA:</td>
        <td class="trc1"></td>
    </tr>
    <tr>
        <td>IOT:</td>
        <td class="trc1"></td>
    </tr>
    <tr class="bg-g">
        <td >KTD:</td>
        <td class="trc1"></td>
    </tr>
    <tr>
        <td>Cysto:</td>
        <td class="trc1"></td>
    </tr>
    <tr class="bg-g">
        <td >Picco:</td>
        <td class="trc1"></td>
    </tr>
    <tr>
        <td>Trachéo:</td>
        <td class="trc1"></td>
    </tr>
    <tr class="bg-g">
        <td >4modèle:</td>
        <td class="trc1"></td>
    </tr>
    <tr>
        <td>Drain-tho:</td>
        <td class="trc1"></td>
    </tr>
    <tr><td colspan="2">
        <table style="width: 100%">
            <tr><td colspan="2" style="text-align: center" class="title">ISOLEMENT</td></tr>
            <tr><td style="vertical-align: center"><input type="checkbox" name="contact" class="checkbox__control"> Contact</td><td><input type="checkbox" class="checkbox__control"> BMR</td></td></tr>
            <tr><td><input type="checkbox" class="checkbox__control"> Goutelettes</td><td><input type="checkbox" class="checkbox__control"> Covid</td></td></tr>
            <tr><td><input type="checkbox" class="checkbox__control"> protecteur</td><td><input type="checkbox" class="checkbox__control"> clostri</td></td></tr>
        </table>
    </td></tr>
</table>