<table style="width: 99%">
    <thead>
        <tr>
            <th colspan="6" class="lcell bg-red">ECHELLE DE BRADEN</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th style="text-align: center">SENSIBILITÉ</th>
            <th style="text-align: center" class="bg-g">HUMIDITÉ</th>
            <th style="text-align: center">ACTIVITÉ </th>
            <th style="text-align: center">MOBILITÉ</th>
            <th style="text-align: center" class="bg-g">NUTRITION</th>
            <th style="text-align: center">FROTTEMENTS</th>
        </tr>
        <tr>
            <td style="text-align: center">Complétement limitée = 1</td>
            <td style="text-align: center" class="bg-g">Constamment humide = 1</td>
            <td style="text-align: center">Confiné au lit = 1</td>
            <td style="text-align: center">Totalement immobile = 1</td>
            <td style="text-align: center" class="bg-g">Très pauvre = 1</td>
            <td style="text-align: center">Probléme permanent = 1</td>
        </tr>
        <tr>
            <td style="text-align: center">Très limitée = 2</td>
            <td style="text-align: center" class="bg-g">Très humide = 2</td>
            <td style="text-align: center">Confiné en chaise = 2</td>
            <td style="text-align: center">Très limitée = 2</td>
            <td style="text-align: center" class="bg-g">Probablement inadéquate = 2</td>
            <td style="text-align: center">Probléme potentiel = 2</td>
        </tr>
         <tr>
            <td style="text-align: center">Légérement limitée = 3</td>
            <td style="text-align: center" class="bg-g">Parfois humide = 3</td>
            <td style="text-align: center"> Marche parfois= 3</td>
            <td style="text-align: center">Légérement limitée = 3</td>
            <td style="text-align: center" class="bg-g">Correcte = 3</td>
            <td style="text-align: center">Pas d'anomalie = 3</td>
        </tr>
        <tr>
            <td style="text-align: center">Pas de gene = 4</td>
            <td style="text-align: center" class="bg-g">Rarement humide = 4</td>
            <td style="text-align: center">Marche fréquemment = 4</td>
            <td style="text-align: center">Pas de limitation = 4</td>
            <td style="text-align: center" class="bg-g">Excellente = 4</td>
            <td style="text-align: center"></td>
        </tr>
        <tr>
            <td style="text-align: center" colspan="6" class="border"><b>SCORE ≥ 18 = Risque bas  /  13 à 17 = Risque modéré  /  8 à 12 = Risque Élevé  /  ≤7 = Risque très Élevé </b></td>
        </tr>
    </tbody>
</table>
