<table style="width: 99%">
    <thead>
        <tr>
            <th colspan="3" class="lcell bg-red">ECHELLE DE BRADEN</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th style="text-align: center">SENSIBILITÉ</th>
            <th style="text-align: center" class="bg-g">HUMIDITÉ</th>
            <th style="text-align: center">ACTIVITÉ </th>
            <th style="text-align: center">MOBILITÉ</th>
            <th style="text-align: center" class="bg-g">NUTRITION</th>
            <th style="text-align: center">FROTTEMENTS</th>
        </tr>
        <tr>
            <td style="text-align: center">Complétement limitée = 1</td>
            <td style="text-align: center" class="bg-g">Constamment humide = 1</td>
            <td style="text-align: center">AUX ORDRES = 1</td>
            <td style="text-align: center">OUVERTURE SPONTANÉE = 1</td>
            <td style="text-align: center" class="bg-g">NORMALE = 1</td>
            <td style="text-align: center">AUX ORDRES = 1</td>
        </tr>
        <tr>
            <td style="text-align: center">OUVERTURE SPONTANÉE = 2</td>
            <td style="text-align: center" class="bg-g">NORMALE = 2</td>
            <td style="text-align: center">AUX ORDRES = 2</td>
            <td style="text-align: center">OUVERTURE SPONTANÉE = 2</td>
            <td style="text-align: center" class="bg-g">NORMALE = 2</td>
            <td style="text-align: center">AUX ORDRES = 2</td>
        </tr>
         <tr>
            <td style="text-align: center">OUVERTURE SPONTANÉE = 3</td>
            <td style="text-align: center" class="bg-g">NORMALE = 3</td>
            <td style="text-align: center">AUX ORDRES = 3</td>
            <td style="text-align: center">OUVERTURE SPONTANÉE = 3</td>
            <td style="text-align: center" class="bg-g">NORMALE = 3</td>
            <td style="text-align: center">AUX ORDRES = 3</td>
        </tr>
        <tr>
            <td style="text-align: center">OUVERTURE SPONTANÉE = 4</td>
            <td style="text-align: center" class="bg-g">NORMALE = 4</td>
            <td style="text-align: center">AUX ORDRES = 4</td>
            <td style="text-align: center">OUVERTURE SPONTANÉE = 4</td>
            <td style="text-align: center" class="bg-g">NORMALE = 4</td>
            <td style="text-align: center"></td>
        </tr>
        <tr>
            <td style="text-align: center" colspan="3" class="border"><b>SCORE = YEUX + VOIX + ACTION</b></td>
        </tr>
    </tbody>
</table>
