<table style="width: 99%">
    <thead>
        <tr>
            <th colspan="12" class="lcell bg-red">ECHELLE DE BRADEN</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th style="text-align: center" colspan="2">SENSIBILITÉ</th>
            <th style="text-align: center" class="bg-g" colspan="2">HUMIDITÉ</th>
            <th style="text-align: center" colspan="2">ACTIVITÉ </th>
            <th style="text-align: center" colspan="2" class="bg-g">MOBILITÉ</th>
            <th style="text-align: center" colspan="2" >NUTRITION</th>
            <th style="text-align: center" colspan="2" class="bg-g">FROTTEMENTS</th>
        </tr>
        <tr>
            <td style="text-align: left">Complétement limitée</td><td style="padding: 4px;min-width: 1%;">1</td>
            <td style="text-align: left" class="bg-g">Constamment humide</td><td class="bg-g" style="padding: 4px;min-width: 1%;">1</td>
            <td style="text-align: left">Confiné au lit</td><td style="padding: 4px;min-width: 1%;">1</td>
            <td style="text-align: left" class="bg-g">Totalement immobile</td><td class="bg-g" style="padding: 4px;min-width: 1%;">1</td>
            <td style="text-align: left">Très pauvre</td><td style="padding: 4px;min-width: 1%;">1</td>
            <td style="text-align: left" class="bg-g">Probléme permanent</td><td class="bg-g" style="padding: 4px;min-width: 1%;">1</td>
        </tr>
        <tr>
            <td style="text-align: left">Très limitée</td><td>2</td>
            <td style="text-align: left" class="bg-g">Très humide</td><td class="bg-g">2</td>
            <td style="text-align: left">Confiné en chaise</td><td>2</td>
            <td style="text-align: left" class="bg-g">Très limitée</td><td class="bg-g">2</td>
            <td style="text-align: left">Probablement inadéquate</td><td>2</td>
            <td style="text-align: left" class="bg-g">Probléme potentiel</td><td class="bg-g">2</td>
        </tr>
         <tr>
            <td style="text-align: left">Légérement limitée</td><td>3</td>
            <td style="text-align: left" class="bg-g">Parfois humide</td><td class="bg-g">3</td>
            <td style="text-align: left"> Marche parfois</td><td>3</td>
            <td style="text-align: left" class="bg-g">Légérement limitée</td><td class="bg-g">3</td>
            <td style="text-align: left">Correcte</td><td>3</td>
            <td style="text-align: left" class="bg-g">Pas d'anomalie</td><td class="bg-g">3</td>
        </tr>
        <tr>
            <td style="text-align: left">Pas de gene</td><td>4</td>
            <td style="text-align: left" class="bg-g">Rarement humide</td><td class="bg-g">4</td>
            <td style="text-align: left">Marche fréquemment</td><td>4</td>
            <td style="text-align: left"  class="bg-g">Pas de limitation</td><td  class="bg-g">4</td>
            <td style="text-align: left">Excellente</td><td>4</td>
            <td style="text-align: left"  class="bg-g"></td><td  class="bg-g"></td>
        </tr>
        <tr>
            <td style="text-align: center;" colspan="12" class="border"><b>SCORE&nbsp;:&nbsp;&nbsp;&nbsp; ≥ 18 = Risque bas&nbsp;&nbsp;&nbsp;—&nbsp;&nbsp;&nbsp;13 à 17 = Risque modéré&nbsp;&nbsp;&nbsp;—&nbsp;&nbsp;&nbsp;8 à 12 = Risque Élevé&nbsp;&nbsp;&nbsp;—&nbsp;&nbsp;&nbsp;≤7 = Risque très Élevé </b></td>
        </tr>
    </tbody>
</table>
