<table align="right" style="width: 99%;">
    <thead>
    <tr>
        <th colspan="4" class="lcell bg-red">DROGUES D'URGENCES</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th style="text-align: center" class="border-r">ADRÉNALINE ACR</th>
        <td style="text-align: center">PUR 1mg/ml</td>
        <td style="text-align: center">2 ampoules 5mg/5ml dans 10ml</td>
        <td style="text-align: center">ACR</td>
    </tr>
    <tr class="bg-g">
        <th style="text-align: center" class="border-r">ADRÉNALINE URG</th>
        <td style="text-align: center">DILUÉ 0,1mg/ml soit 100 𝛾/ml</td>
        <td style="text-align: center">1ml d'une ampoule de 5mg/5ml et compléter jusqu'à 10ml(Sφ)</td>
        <td style="text-align: center">Hypotension/Allergie/Bradycardie</td>
    </tr>
    <tr>
        <th style="text-align: center" class="border-r">ATROPINE</th>
        <td style="text-align: center">PUR 0,5 mg/mL</td>
        <td style="text-align: center">2 ampoules de 0,5mg/1ml dans 2ml</td>
        <td style="text-align: center">Bradychardie brutale</td>
    </tr>
    <tr class="bg-g">
        <th style="text-align: center" class="border-r"> ISUPREL</th>
        <td style="text-align: center">DILUÉ 0,02mg/ml soit 20𝛾/ml</td>
        <td style="text-align: center">5 ampoules de 1ml dans 50ml (G5)</td>
        <td style="text-align: center">Bradychardie persistante</td>
    </tr>
    <tr>
        <th style="text-align: center" class="border-r">ÉPHÉDRINE</th>
        <td style="text-align: center">DILUÉ 3mg/ml</td>
        <td style="text-align: center">30 mg/1 ml à diluer dans 10ml(Sφ)</td>
        <td style="text-align: center">Hypotension</td>
    </tr>
    <tr class="bg-g">
        <th style="text-align: center" class="border-r">NORADRÉNALINE</th>
        <td style="text-align: center">DILUÉ 0,5mg/ml</td>
        <td style="text-align: center">3 ampoules 8 mg/4 ml dans 48ml(Sφ)</td>
        <td style="text-align: center">Hypotension</td>
    </tr>
    </tbody>
</table>
