<table align="right" style="width: 99%;">
    <thead>
        <tr>
            <th colspan="4" class="lcell bg-red">DROGUES D'URGENCES</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th align="center">ADRÉNALINE ACR</th>
            <td align="center">PUR 1MG/ML</td>
            <td align="center">2 ampoules 5MG/ML dans 10</td>
            <td align="center">ACR</td>
        </tr>
        <tr>
            <th align="center">ADRÉNALINE URGENCES</th>
            <td align="center">DILUÉE 0,1 MG soit 100 𝛾/ML</td>
            <td align="center">Prendre 1MG d'une ampule de 5MG/ML et compléter jusqu'à 10CC avec du SPhy</td>
            <td align="center">Hypotension/Allergie/Bradycardie</td>
        </tr>
        <tr>
            <th align="center">ATROPINE</th>
            <td align="center">4</td>
            <td align="center">0,5 mg/mL</td>
            <td align="center">Bradychardie brutale</td>
      </tr>
        <tr>
            <th align="center">ISUPREL</th>
            <td align="center">4</td>
            <td align="center">6</td>
            <td align="center">Bradychardie persistante</td>
      </tr>    
             <tr>
            <th align="center">EPHÉDRINE</th>
            <td align="center">4</td>
            <td align="center">30 mg/1 ml à diluer dans 10 soit 3 mg/ml </td>
            <td align="center">Hypotension</td>
      </tr>
       </tr>    
             <tr>
            <th align="center">NORADRÉNALINE</th>
            <td align="center">4</td>
            <td align="center">8 mg/4 ml</td>
            <td align="center">Hypotension</td>
      </tr>
    </tbody>
</table>
