<table align="right" style="width: 99%;">
    <thead>
        <tr>
            <th colspan="4" class="lcell bg-red">DROGUES D'URGENCES</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td align="center">ADRÉNALINE ACR</td>
            <td align="center">PUR 1MG/ML</td>
            <td align="center">2 AMPOULES DE 5MG/ML DANS 10</td>
            <td align="center">INDICATION? </td>
        </tr>
        <tr>
            <td align="center">ADRÉNALINE URGENCES</td>
            <td align="center">DILUÉ 0,1 MG SOIT 100 G/ML</td>
            <td align="center">PRENDRE 1MG D'UNE AMPOULE DE 5MG/ML ET COMPLETER JUSQU'A 10CC AVEC DU SPHY</td>
            <td align="center"></td>
        </tr>
        <tr>
            <td align="center">ATROPINE</td>
            <td align="center">4</td>
            <td align="center">6</td>
            <td align="center">9</td>
      </tr>
        <tr>
            <td align="center">ISUPREL</td>
            <td align="center">4</td>
            <td align="center">6</td>
            <td align="center">9</td>
      </tr>    
             <tr>
            <td align="center"></td>
            <td align="center">4</td>
            <td align="center">6</td>
            <td align="center">9</td>
      </tr>
    </tbody>
</table>
