<table style="width: 99%">
    <thead>
        <tr>
            <th colspan="3" class="lcell bg-red">SCORE DE GLASGOW</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th style="text-align: center">YEUX</th>
            <th style="text-align: center" class="bg-g">VOIX</th>
            <th style="text-align: center">ACTION </th>
        </tr>
        <tr>
            <td style="text-align: center">OUVERTURE SPONTANÉE = 4</td>
            <td style="text-align: center" class="bg-g">NORMALE = 5</td>
            <td style="text-align: center">AUX ORDRES = 6</td>
        </tr>
        <tr>
            <td style="text-align: center">A L'APPEL= 3</td>
            <td style="text-align: center" class="bg-g">CONFUSE= 4</td>
            <td style="text-align: center">A LA DOULEUR= 5</td>
        </tr>
         <tr>
            <td style="text-align: center">A LA DOULEUR= 2</td>
            <td style="text-align: center" class="bg-g">MOTS = 3</td>
            <td style="text-align: center">EVITEMENT= 4</td>
        </tr>
        <tr>
            <td style="text-align: center">AUCUNE= 1</td>
            <td style="text-align: center" class="bg-g">SONS = 2</td>
            <td style="text-align: center">FLEXION= 3</td>
        </tr>
        <tr>
            <td style="text-align: center"></td>
            <td style="text-align: center" class="bg-g">AUCUNE = 1</td>
            <td style="text-align: center">EXTENSION = 2</td>
        </tr>
        <tr>
            <td style="text-align: center"></td>
            <td style="text-align: center" class="bg-g"></td>
            <td style="text-align: center">AUCUNE = 1</td>
        </tr>
        <tr>
            <td style="text-align: center" colspan="3" class="border"><b>SCORE = YEUX + VOIX + ACTION</b></td>
        </tr>
    </tbody>
</table>
