<table>
    <thead>
        <tr>
            <th colspan="3" class="lcell bg-red">SCORE DE GLASGOW</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th align="center">YEUX</th>
            <th align="center">VOIX</th>
            <th align="center">ACTION </th>
        </tr>
        <tr>
            <td align="center">OUVERTURE SPONTANÉE = 4</td>
            <td align="center">NORMALE = 5</td>
            <td align="center">AUX ORDRES = 6</td>
        </tr>
        <tr>
            <td align="center">A L'APPEL= 3</td>
            <td align="center">CONFUSE= 4</td>
            <td align="center">A LA DOULEUR= 5</td>
        </tr>
         <tr>
            <td align="center">A LA DOULEUR= 2</td>
            <td align="center">MOTS = 3</td>
            <td align="center">EVITEMENT= 4</td>
        </tr>
        <tr>
            <td align="center">AUCUNE= 1</td>
            <td align="center">SONS = 2</td>
            <td align="center">FLEXION= 3</td>
        </tr>
        <tr>
            <td align="center"></td>
            <td align="center">AUCUNE = 1</td>
            <td align="center">EXTENSION = 2</td>
        </tr>
        <tr>
            <td align="center"></td>
            <td align="center"></td>
            <td align="center">AUCUNE = 1</td>
        </tr>
    </tbody>
</table>
