<right><table align="right">
    <thead>
        <tr>
            <th colspan="4" class="lcell bg-red">SCORE DE GUENTER</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td align="center">VOLUME</td>
            <td align="center">SOLIDE MOULÉE</td>
            <td align="center">MOLLE PATEUSE</td>
            <td align="center">LIQUIDE AQUEUSE</td>
        </tr>
        <tr>
            <td align="center">FAIBLE</td>
            <td align="center">1</td>
            <td align="center">2</td>
            <td align="center">3</td>
        </tr>
        <tr>
            <td align="center">IMPORTANT</td>
            <td align="center">4</td>
            <td align="center">6</td>
            <td align="center">9</td>
      </tr>
    </tbody>
    </right></table>
