<right><table>
    <thead>
        <tr>
            <th colspan="4" class="lcell bg-red">SCORE DE GUENTER</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>VOLUME</td>
            <td>SOLIDE MOULÉE</td>
            <td>MOLLE PATEUSE</td>
            <td>LIQUIDE AQUEUSE</td>
        </tr>
        <tr>
            <td>FAIBLE</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
        </tr>
        <tr>
            <td>IMPORTANT</td>
            <td>4</td>
            <td>6</td>
            <td>9</td>
      </tr>
    </tbody>
    </right></table>
