<table align="right" style="width: 99%"> 
    <thead>
        <tr>
            <th colspan="4" class="lcell bg-red">SCORE DE GUENTER</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th style="text-align: center" class="border-r">VOLUME</th>
            <th style="text-align: center">SOLIDE MOULÉE</th>
            <th style="text-align: center" class="bg-g">MOLLE PATEUSE</th>
            <th style="text-align: center">LIQUIDE AQUEUSE</th>
        </tr>
        <tr>
            <th style="text-align: center" class="border-r">FAIBLE</th>
            <td style="text-align: center">1</td>
            <td style="text-align: center" class="bg-g">2</td>
            <td style="text-align: center">3</td>
        </tr>
        <tr>
            <th style="text-align: center" class="border-r">IMPORTANT</th>
            <td style="text-align: center">4</td>
            <td style="text-align: center" class="bg-g">6</td>
            <td style="text-align: center">9</td>
      </tr>
    </tbody>
</table>
