<table align="right" style="width: 99%;">
    <thead>
    <tr>
        <th colspan="4" class="lcell bg-red">DROGUES D'INTUBATION</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th style="text-align: center;" class="border-r">KÉTAMINE</th>
        <td style="text-align: center">PUR 25mg/ml </td>
        <td style="text-align: center">2 ampoules de 250mg/10ml dans 20ml</td>
        <td style="text-align: center">Induction</td>
    </tr>
    <tr class="bg-g">
        <th style="text-align: center" class="border-r">ETOMIDATE</th>
        <td style="text-align: center">PUR 2mg/ml</td>
        <td style="text-align: center">2 ampoules de 20mg/10ml dans 20ml</td>
        <td style="text-align: center">Induction</td>
    </tr>
    <tr>
        <th style="text-align: center" class="border-r">PROPOFOL</th>
        <td style="text-align: center">PUR 20mg/ml</td>
        <td style="text-align: center">50ml de Propofol 2% dans 50ml</td>
        <td style="text-align: center">Induction</td>
    </tr>
    <tr class="bg-g">
        <th style="text-align: center" class="border-r">PENTOTHAL</th>
        <td style="text-align: center">DILUÉ 25mg/ml </td>
        <td style="text-align: center">Ampoule 500mg dans 20ml(Sφ)</td>
        <td style="text-align: center">Induction EME</td>
    </tr>
    <tr>
        <th style="text-align: center" class="border-r">CÉLOCURINE</th>
        <td style="text-align: center">DILUÉ 10mg/ml</td>
        <td style="text-align: center">2 ampoules de 50mg/1ml dans 10ml(Sφ)</td>
        <td style="text-align: center">Curare Induction Rapide</td>
    </tr>
    <tr class="bg-g">
        <th style="text-align: center" class="border-r">ROCURONIUM</th>
        <td style="text-align: center">PUR 10mg/ml</td>
        <td style="text-align: center">2 ampoules de 50 mg/5 ml dans 10ml</td>
        <td style="text-align: center">Curare Induction Rapide</td>
    </tr>
    </tbody>
</table>
