<table align="right" style="width: 99%;">
    <thead>
        <tr>
            <th colspan="4" class="lcell bg-red">DROGUES D'INTUBATION</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th align="center">KÉTAMINE</th>
            <td align="center">PUR</td>
            <td align="center">2 AMPOULES DE 250 MG/ML DANS 20</td>
            <td align="center">INDICATION? </td>
        </tr>
        <tr>
            <th align="center">ETOMIDATE</th>
            <td align="center">DILUÉ 0,1 MG SOIT 100 G/ML</td>
            <td align="center">PRENDRE 1MG D'UNE AMPOULE DE 5MG/ML ET COMPLETER JUSQU'A 10CC AVEC DU SPHY</td>
            <td align="center"></td>
        </tr>
        <tr>
            <th align="center">PROPOFOL</th>
            <td align="center">4</td>
            <td align="center">6</td>
            <td align="center">9</td>
      </tr>
        <tr>
            <th align="center">PENTOTHAL</th>
            <td align="center">4</td>
            <td align="center">6</td>
            <td align="center">9</td>
      </tr>    
             <tr>
            <th align="center">CÉLOCURINE</th>
            <td align="center">4</td>
            <td align="center">6</td>
            <td align="center">9</td>
      </tr>    
             <tr>
            <th align="center">ROCURONIUM</th>
            <td align="center">4</td>
            <td align="center">6</td>
            <td align="center">9</td>
      </tr>
    </tbody>
</table>
