<table style="width: 99%;">
    <thead>
    <tr class="big-row">
        <th colspan="3" class="lcell bg-red">SCORE DE RASS</th>
    </tr>
    </thead>
    <tbody>
    <tr class="big-row">
        <td style="width: 25px; text-align: center; font-weight: bold">+4</td>
        <td style="text-align: center">COMBATIF</td>
        <td>Combatif, danger immédiat envers l’équipe.</td>
    </tr>
    <tr class="bg-g big-row">
        <td style="width: 25px; text-align: center; font-weight: bold">+3</td>
        <td style="text-align: center">TRÈS AGITÉ</td>
        <td>Tire, arrache tuyaux ou cathéters et/ou agressif envers
            l’équipe.</td>
    </tr>
    <tr class="big-row">
        <td style="width: 25px; text-align: center; font-weight: bold">+2</td>
        <td style="text-align: center">AGITÉ</td>
        <td>Mouvements fréquents sans but précis et/ou désadaptation au
            respirateur</td>
    </tr>
    <tr class="bg-g big-row">
        <td style="width: 25px; text-align: center; font-weight: bold">+1</td>
        <td style="text-align: center">NE TIENT PAS EN PLACE</td>
        <td>Anxieux ou craintif, mais mouvements orientés, peu
            fréquents, non vigoureux, non agressif.</td>
    </tr>
    <tr class="big-row">
        <td style="width: 25px; text-align: center; font-weight: bold">0</td>
        <td style="text-align: center">ÉVEILLÉ ET CALME</td>
        <td></td>
    </tr>
    <tr class="bg-g big-row">
        <td style="width: 25px; text-align: center; font-weight: bold">-1</td>
        <td style="text-align: center">SOMNOLENT</td>
        <td>Pas complètement éveillé, mais reste éveillé avec contact
            visuel à l’appel (> 10s).</td>
    </tr>
    <tr class="big-row">
        <td style="width: 25px; text-align: center; font-weight: bold">-2</td>
        <td style="text-align: center">DIMINUTION LÉGÉRE DE LA VIGILANCE</td>
        <td>Reste éveillé brièvement avec contact visuel à l’appel (< 10s).</td>
    </tr>
    <tr class="bg-g big-row">
        <td style="width: 25px; text-align: center; font-weight: bold">-3</td>
        <td style="text-align: center">DIMINUTION MODÉRÉE DE LA VIGILANCE</td>
        <td>N’importe quel mouvement à l’appel (ex. : ouverture des
            yeux), mais pas de contact visuel.</td>
    </tr>
    <tr class="big-row">
        <td style="width: 25px; text-align: center; font-weight: bold">-4</td>
        <td style="text-align: center">DIMINUTION PROFONDE DE LA VIGILANCE</td>
        <td>Aucun mouvement à l’appel, n’importe quel mouvement à la
            stimulation physique (friction non nociceptive de l’épaule ou
            du sternum).</td>
    </tr>
    <tr class="bg-g big-row">
        <td style="width: 25px; text-align: center; font-weight: bold">-5</td>
        <td style="text-align: center">NON REVEILLABLE</td>
        <td>Aucun mouvement, ni à l’appel, ni à la stimulation physique
            (friction non nociceptive de l’épaule ou du sternum).</td>
    </tr>
    </tbody>
</table>
