<table>
    <thead>
        <tr>
            <th colspan="3" class="lcell bg-red">SCORE DE RASS</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>+4</td>
            <td>COMBATIF</td>
            <td>Combatif, danger immédiat envers l’équipe.</td>
        </tr>
        <tr>
            <td>+3</td>
            <td>TRÈS AGITÉ</td>
            <td>Tire, arrache tuyaux ou cathéters et/ou agressif envers
l’équipe.</td>
        </tr>
        <tr>
            <td>+2</td>
            <td>AGITÉ</td>
            <td>Mouvements fréquents sans but précis et/ou désadaptation au
respirateur</td>
        </tr>
         <tr>
            <td>+1</td>
            <td>NE TIENT PAS EN PLACE</td>
            <td>Anxieux ou craintif, mais mouvements orientés, peu
fréquents, non vigoureux, non agressif.</td>
        </tr>
        <tr>
            <td>0</td>
            <td>EVEILLÉ ET CALME</td>
            <td></td>
        </tr>
        <tr>
            <td>-1</td>
            <td>SOMNOLENT</td>
            <td>Pas complètement éveillé, mais reste éveillé avec contact
visuel à l’appel (> 10s).</td>
        </tr>
        <tr>
            <td>-2</td>
            <td>DIMINUTION LÉGÉRE DE LA VIGILANCE</td>
            <td>Reste éveillé brièvement avec contact visuel à l’appel (< 10s).</td>
        </tr>
       <tr>
            <td>-3</td>
            <td>DIMINUTION MODÉRÉE DE LA VIGILANCE</td>
            <td>N’importe quel mouvement à l’appel (ex. : ouverture des
yeux), mais pas de contact visuel.</td>
        </tr>
       <tr>
            <td>-4</td>
            <td>DIMINUTION PROFONDE DE LA VIGILANCE</td>
            <td>Aucun mouvement à l’appel, n’importe quel mouvement à la
stimulation physique (friction non nociceptive de l’épaule ou
du sternum).</td>
        </tr>
       <tr>
            <td>-5</td>
            <td>NON REVEILLABLE</td>
            <td>Aucun mouvement, ni à l’appel, ni à la stimulation physique
(friction non nociceptive de l’épaule ou du sternum).</td>
        </tr>
    </tbody>
</table>
