<table>
    <head>
      <th colspan="10" class="lcell bg-red">GAZOMÉTRIE</th>
    </head>
  <tr>
      <th class='border'>PH</th>
      <th class='border'>PO2</th>
      <th class='border'>PCO2</th>
      <th class='border'>P/F</th>
      <th class='border'>BICAR</th>
      <th class='border'>HB</th>
      <th class='border'>K+</th>
      <th class='border'>NA+</th>
      <th class='border'>CA++</th>
      <th class='border'>LACTATE</th>
  </tr>
    <tr>
      <th class='border'>PH</th>
      <th class='border'>PO2</th>
      <th class='border'>PCO2</th>
      <th class='border'>P/F</th>
      <th class='border'>BICAR</th>
      <th class='border'>HB</th>
      <th class='border'>K+</th>
      <th class='border'>NA+</th>
      <th class='border'>CA++</th>
      <th class='border'>LACTATE</th>
  </tr>
      <tr>
      <th class='border'>PH</th>
      <th class='border'>PO2</th>
      <th class='border'>PCO2</th>
      <th class='border'>P/F</th>
      <th class='border'>BICAR</th>
      <th class='border'>HB</th>
      <th class='border'>K+</th>
      <th class='border'>NA+</th>
      <th class='border'>CA++</th>
      <th class='border'>LACTATE</th>
  </tr>
      <tr>
      <th class='border'>PH</th>
      <th class='border'>PO2</th>
      <th class='border'>PCO2</th>
      <th class='border'>P/F</th>
      <th class='border'>BICAR</th>
      <th class='border'>HB</th>
      <th class='border'>K+</th>
      <th class='border'>NA+</th>
      <th class='border'>CA++</th>
      <th class='border'>LACTATE</th>
  </tr>
      <tr>
      <th class='border'>PH</th>
      <th class='border'>PO2</th>
      <th class='border'>PCO2</th>
      <th class='border'>P/F</th>
      <th class='border'>BICAR</th>
      <th class='border'>HB</th>
      <th class='border'>K+</th>
      <th class='border'>NA+</th>
      <th class='border'>CA++</th>
      <th class='border'>LACTATE</th>
  </tr>
      <tr>
      <th class='border'>PH</th>
      <th class='border'>PO2</th>
      <th class='border'>PCO2</th>
      <th class='border'>P/F</th>
      <th class='border'>BICAR</th>
      <th class='border'>HB</th>
      <th class='border'>K+</th>
      <th class='border'>NA+</th>
      <th class='border'>CA++</th>
      <th class='border'>LACTATE</th>
  </tr>
</table>
