<table style="width: 99%">
    <head>
      <th class="bg-red" colspan="2">RELÉVE IDE</th>
    </head>
    <tr><td style=" height: 100px; vertical-align: top; padding-top: 5px;" colspan="2">
        <b><u>MOTIF ADMISSION:</u></b>
    </td></tr>
    <tr><td style=" height: 110px; vertical-align: top; padding-top: 5px;" class="bg-g" colspan="2">
        <b><u>ATCD:</u></b>
    </td></tr>
    <tr><td class='border' style="height: 180px; text-align: center; vertical-align:top; padding-top: 5px;">
        <b><u>PROBLÉMATIQUE DU JOUR:</u></b></td>
    <td class='border' style="height: 150px; text-align: center; vertical-align: top; padding-top: 5px;"><b><u>PROBLÉMATIQUE DE LA NUIT:</u></b></td>
    </tr>
    <tr><td style="height: 150px; vertical-align: top; padding-top: 5px;" class="bg-g" colspan="2">
        <b><u>À PRÉVOIR:</u></b>
    </td></tr>
</table>
