<table style="width: 99%">
    <head>
      <th class="bg-red">RELÉVE IDE</th>
    </head>
    <tr><td style=" height: 100px; vertical-align: top; padding-top: 5px;">
        <b><u>MOTIF ADMISSION:</u></b>
    </td></tr>
    <tr><td style=" height: 150px; vertical-align: top; padding-top: 5px;" class="bg-g">
        <b><u>ATCD:</u></b>
    </td></tr>
    <tr><td style="height: 150px; vertical-align: top; padding-top: 5px;">
        <b><u>PROBLÉMATIQUE DU JOUR:</u></b>
    </td></tr>
    <tr><td style="height: 150px; vertical-align: top; padding-top: 5px;" class="bg-g">
        <b><u>À PRÉVOIR:</u></b>
    </td></tr>
</table>
