<table align="left" style="width: 99%">
    <head>
        <tr>
          <th align="center" class="lcell bg-red">TOUR DE SÉCURITÉ</th>
          <th align="center" class="lcell bg-red">IDE 1</th>
          <th align="center" class="lcell bg-red">IDE 2</th>
          <th align="center" class="lcell bg-red">IDE 3</th>
      </tr>
      </head>
        <tr>
          <td align="center">ALARMES</td>
          <td align="center"><input type="checkbox" class="checkbox__control"></td>
          <td align="center"><input type="checkbox" class="checkbox__control"></td>
          <td align="center"><input type="checkbox" class="checkbox__control"></td>
        </tr>
       <tr>
          <td align="center">CONTRÔLE DÉBIT PSE/POMPES</td>
          <td align="center"><input type="checkbox" class="checkbox__control"></td>
          <td align="center"><input type="checkbox" class="checkbox__control"></td>
          <td align="center"><input type="checkbox" class="checkbox__control"></td>
       </tr>
       <tr>
          <td align="center">ZERO PRESSIONS</td>
          <td align="center"><input type="checkbox" class="checkbox__control"></td>
          <td align="center"><input type="checkbox" class="checkbox__control"></td>
          <td align="center"><input type="checkbox" class="checkbox__control"></td>
        </tr>
       <tr>
          <td align="center">CONTRÔLE VVC/VVP</td>
          <td align="center"><input type="checkbox" class="checkbox__control"></td>
          <td align="center"><input type="checkbox" class="checkbox__control"></td>
          <td align="center"><input type="checkbox" class="checkbox__control"></td>
       </tr>
       <tr>
          <td align="center">CONTRÔLE PRESSION BALLONNET</td>
          <td align="center"><input type="checkbox" class="checkbox__control"></td>
          <td align="center"><input type="checkbox" class="checkbox__control"></td>
          <td align="center"><input type="checkbox" class="checkbox__control"></td>
        </tr>
       <tr>
          <td align="center">CONTRÔLE PRESSION POCHE KTA</td>
          <td align="center"><input type="checkbox" class="checkbox__control"></td>
          <td align="center"><input type="checkbox" class="checkbox__control"></td>
          <td align="center"><input type="checkbox" class="checkbox__control"></td>
       </tr>
       <tr>
          <td align="center">CONTRÔLE FONCTIONNEMENT BAVU</td>
          <td align="center"><input type="checkbox" class="checkbox__control"></td>
          <td align="center"><input type="checkbox" class="checkbox__control"></td>
          <td align="center"><input type="checkbox" class="checkbox__control"></td>
        </tr>
        <tr>
          <td align="center">CONTRÔLE IOT</td>
          <td align="center"><input type="checkbox" class="checkbox__control"></td>
          <td align="center"><input type="checkbox" class="checkbox__control"></td>
          <td align="center"><input type="checkbox" class="checkbox__control"></td>
      </tr>
      <tr>
          <td align="center">CONTRÔLE SNG</td>
          <td align="center"><input type="checkbox" class="checkbox__control"></td>
          <td align="center"><input type="checkbox" class="checkbox__control"></td>
          <td align="center"><input type="checkbox" class="checkbox__control"></td>
        </tr>
        <tr>
          <td align="center">PANSEMENT KTA</td>
          <td align="center"><input type="checkbox" class="checkbox__control"></td>
          <td align="center"><input type="checkbox" class="checkbox__control"></td>
          <td align="center"><input type="checkbox" class="checkbox__control"></td>
        </tr>
       <tr>
          <td align="center">PANSEMENT VVC</td>
          <td align="center"><input type="checkbox" class="checkbox__control"></td>
          <td align="center"><input type="checkbox" class="checkbox__control"></td>
          <td align="center"><input type="checkbox" class="checkbox__control"></td>
        </tr>
        <tr>
          <td align="center">PANSEMENT KTD</td>
          <td align="center"><input type="checkbox" class="checkbox__control"></td>
          <td align="center"><input type="checkbox" class="checkbox__control"></td>
          <td align="center"><input type="checkbox" class="checkbox__control"></td>
        </tr>
        <tr>
          <td align="center">CHANGEMENT DE VOIES</td>
          <td align="center"><input type="checkbox" class="checkbox__control"></td>
          <td align="center"><input type="checkbox" class="checkbox__control"></td>
          <td align="center"><input type="checkbox" class="checkbox__control"></td>
        </tr>
        <tr>
          <td align="center">CHANGEMENT TUBULURES</td>
          <td align="center"><input type="checkbox" class="checkbox__control"></td>
          <td align="center"><input type="checkbox" class="checkbox__control"></td>
          <td align="center"><input type="checkbox" class="checkbox__control"></td>
        </tr>
    </tbody>
</table>
