<table align="left" style="width: 99%">
    <head>
        <tr>
            <th style="text-align: center" class="lcell bg-red border-r" >TOUR DE SÉCURITÉ</th>
            <th style="text-align: center" class="lcell bg-red">IDE 1</th>
            <th style="text-align: center" class="lcell bg-red">IDE 2</th>
            <th style="text-align: center" class="lcell bg-red">IDE 3</th>
        </tr>
    </head>
    <tr>
        <td style="text-align: center" class="border-r">ALARMES</td>
        <td style="text-align: center"><input type="checkbox" class="checkbox"></td>
        <td style="text-align: center"><input type="checkbox" class="checkbox"></td>
        <td style="text-align: center"><input type="checkbox" class="checkbox"></td>
    </tr>
    <tr class="bg-g">
        <td style="text-align: center" class="border-r">CONTRÔLE DÉBIT PSE/POMPES</td>
        <td style="text-align: center"><input type="checkbox" class="checkbox"></td>
        <td style="text-align: center"><input type="checkbox" class="checkbox"></td>
        <td style="text-align: center"><input type="checkbox" class="checkbox"></td>
    </tr>
    <tr>
        <td style="text-align: center" class="border-r">ZERO PRESSIONS</td>
        <td style="text-align: center"><input type="checkbox" class="checkbox"></td>
        <td style="text-align: center"><input type="checkbox" class="checkbox"></td>
        <td style="text-align: center"><input type="checkbox" class="checkbox"></td>
    </tr>
    <tr class="bg-g">
        <td style="text-align: center" class="border-r">CONTRÔLE VVC/VVP</td>
        <td style="text-align: center"><input type="checkbox" class="checkbox"></td>
        <td style="text-align: center"><input type="checkbox" class="checkbox"></td>
        <td style="text-align: center"><input type="checkbox" class="checkbox"></td>
    </tr>
    <tr>
        <td style="text-align: center" class="border-r">CONTRÔLE PRESSION BALLONNET</td>
        <td style="text-align: center"><input type="checkbox" class="checkbox">16H</td>
        <td style="text-align: center"><input type="checkbox" class="checkbox">20H / <input type="checkbox" class="checkbox">00H / <input type="checkbox" class="checkbox">04H</td>
        <td style="text-align: center"><input type="checkbox" class="checkbox"> 8H / <input type="checkbox" class="checkbox">12H</td>
    </tr>
    <tr class="bg-g">
        <td style="text-align: center" class="border-r">CONTRÔLE REPRÈRE IOT</td>
        <td style="text-align: center"><input type="checkbox" class="checkbox">16H</td>
        <td style="text-align: center"><input type="checkbox" class="checkbox">20H / <input type="checkbox" class="checkbox">00H / <input type="checkbox" class="checkbox">04H</td>
        <td style="text-align: center"><input type="checkbox" class="checkbox"> 8H / <input type="checkbox" class="checkbox">12H</td>
    </tr>
        <td style="text-align: center" class="border-r">CONTRÔLE PRESSION POCHE KTA</td>
        <td style="text-align: center"><input type="checkbox" class="checkbox"></td>
        <td style="text-align: center"><input type="checkbox" class="checkbox"></td>
        <td style="text-align: center"><input type="checkbox" class="checkbox"></td>
    </tr>
    <tr class="bg-g">
        <td style="text-align: center" class="border-r">CONTRÔLE FONCTIONNEMENT BAVU</td>
        <td style="text-align: center"><input type="checkbox" class="checkbox"></td>
        <td style="text-align: center"><input type="checkbox" class="checkbox"></td>
        <td style="text-align: center"><input type="checkbox" class="checkbox"></td>
    </tr>
    <tr>
        <td style="text-align: center" class="border-r">CONTRÔLE SNG</td>
        <td style="text-align: center"><input type="checkbox" class="checkbox"></td>
        <td style="text-align: center"><input type="checkbox" class="checkbox"></td>
        <td style="text-align: center"><input type="checkbox" class="checkbox"></td>
    </tr>
    <tr class="bg-g">
        <td style="text-align: center" class="border-r">CONTRÔLE CIRCUIT RESPIRATOIRE</td>
        <td style="text-align: center"><input type="checkbox" class="checkbox"></td>
        <td style="text-align: center"><input type="checkbox" class="checkbox"></td>
        <td style="text-align: center"><input type="checkbox" class="checkbox"></td>
    </tr>
    <tr>
        <td style="text-align: center" class="border-r"></td>
        <td style="text-align: center">À changer le:</td>
        <td style="text-align: center"></td>
        <td style="text-align: center"></td>
    </tr>
    <tr class="bg-g">
        <td style="text-align: center" class="border-r">PANSEMENT KTA</td>
        <td style="text-align: center"><input type="checkbox" class="checkbox"></td>
        <td style="text-align: center"><input type="checkbox" class="checkbox"></td>
        <td style="text-align: center"><input type="checkbox" class="checkbox"></td>
    </tr>
    <tr>
        <td style="text-align: center" class="border-r"></td>
        <td style="text-align: center">À changer le:</td>
        <td style="text-align: center"></td>
        <td style="text-align: center"></td>
    </tr>
    <tr class="bg-g">
        <td style="text-align: center" class="border-r">PANSEMENT VVC</td>
        <td style="text-align: center"><input type="checkbox" class="checkbox"></td>
        <td style="text-align: center"><input type="checkbox" class="checkbox"></td>
        <td style="text-align: center"><input type="checkbox" class="checkbox"></td>
    </tr>
    <tr>
        <td style="text-align: center" class="border-r"></td>
        <td style="text-align: center">À changer le:</td>
        <td style="text-align: center"></td>
        <td style="text-align: center"></td>
    </tr>
    <tr class="bg-g">
        <td style="text-align: center" class="border-r">PANSEMENT KTD</td>
        <td style="text-align: center"><input type="checkbox" class="checkbox"></td>
        <td style="text-align: center"><input type="checkbox" class="checkbox"></td>
        <td style="text-align: center"><input type="checkbox" class="checkbox"></td>
    </tr>
    <tr>
        <td style="text-align: center" class="border-r"></td>
        <td style="text-align: center">À changer le:</td>
        <td style="text-align: center"></td>
        <td style="text-align: center"></td>
    </tr>
    <tr class="bg-g">
        <td style="text-align: center" class="border-r">CHANGEMENT DE VOIES</td>
        <td style="text-align: center"><input type="checkbox" class="checkbox"></td>
        <td style="text-align: center"><input type="checkbox" class="checkbox"></td>
        <td style="text-align: center"><input type="checkbox" class="checkbox"></td>
    </tr>
    <tr>
        <td style="text-align: center" class="border-r">CHANGEMENT TUBULURES</td>
        <td style="text-align: center"><input type="checkbox" class="checkbox"></td>
        <td style="text-align: center"><input type="checkbox" class="checkbox"></td>
        <td style="text-align: center"><input type="checkbox" class="checkbox"></td>
    </tr>
    <tr class="bg-g">
        <td style="text-align: center" class="border-r"></td>
        <td style="text-align: center">À changer le:</td>
        <td style="text-align: center"></td>
        <td style="text-align: center"></td>
    </tr>
    <tr>
        <td style="text-align: center" class="border-r">COLLECTEUR ETCO2</td>
        <td style="text-align: center"><input type="checkbox" class="checkbox"></td>
        <td style="text-align: center"><input type="checkbox" class="checkbox"></td>
        <td style="text-align: center"><input type="checkbox" class="checkbox"></td>
    </tr>
    <tr class="bg-g">
        <td style="text-align: center" class="border-r">PIÈGE À EAU</td>
        <td style="text-align: center"><input type="checkbox" class="checkbox"></td>
        <td style="text-align: center"><input type="checkbox" class="checkbox"></td>
        <td style="text-align: center"><input type="checkbox" class="checkbox"></td>
    </tr>
    <tr>
        <td style="text-align: center" class="border-r">POINT DE PONCTION KTA/VVC/KTD</td>
        <td style="text-align: center"><input type="checkbox" class="checkbox"></td>
        <td style="text-align: center"><input type="checkbox" class="checkbox"></td>
        <td style="text-align: center"><input type="checkbox" class="checkbox"></td>
    </tr>
    <tr class="bg-g">
        <td style="text-align: center" class="border-r">SURVEILLANCE CONTENTION</td>
        <td style="text-align: center"><input type="checkbox" class="checkbox"> / <input type="checkbox" class="checkbox"></td>
        <td style="text-align: center"><input type="checkbox" class="checkbox"> / <input type="checkbox" class="checkbox"></td>
        <td style="text-align: center"><input type="checkbox" class="checkbox"> / <input type="checkbox" class="checkbox"></td>
    </tr>
    <tr>
        <td style="text-align: center" class="border-r">SURVEILLANCE CUTANÉE</td>
        <td style="text-align: center"><input type="checkbox" class="checkbox"></td>
        <td style="text-align: center"><input type="checkbox" class="checkbox"></td>
        <td style="text-align: center"><input type="checkbox" class="checkbox"></td>
    </tr>
    </tbody>
</table>
