<table style="width: 100%;" >
    <tr style="padding: 0; margin: 0;">
        <td class="cl-title title" style="padding: 0; margin: 0;">
            D<br>I<br>G<br>E<br>S<br>T<br>I<br>F<br>/<br>P<br>E<br>R<br>T<br>E<br>S
        </td>
        <td class="cl-1" style="padding: 0; margin: 0;">
            <table style="padding: 0; margin: 0;">
                    <tr class="cell-left cell-height" style="padding: 0; margin: 0;"><td class="lcell">
                        <table class="indent"><tr>
                            <td style="width: 35%;">Diurèse :</td>
                            <td style="width: 35%;"><input type="checkbox" class="checkbox__control"> SAD</td>
                            <td style="width: 35%;"><input type="checkbox" class="checkbox__control"> Mictic</td>
                        </tr></table>
                    </td></tr>
                    <tr class="cell-left cell-height" style="padding: 0; margin: 0;"><td class="lcell">
                        <table class="indent"><tr>
                            <td style="width: 35%;"> Selles :</td>
                            <td style="width: 35%;"><input type="checkbox" class="checkbox__control"> Guenter</td>
                            <td style="width: 35%;"><input type="checkbox" class="checkbox__control"> Stomie</td>
                        </tr></table>

                    </td></tr>
                    <tr class="cell-left cell-height" style="padding: 0; margin: 0;"><td class="lcell">
                        <table class="indent"><tr>
                            <td style="width: 35%;"> SNG :</td>
                            <td style="width: 35%;"><input type="checkbox" class="checkbox__control"> aspi</td>
                            <td style="width: 35%;"><input type="checkbox" class="checkbox__control"> sac</td>
                        </tr></table>
                    </td></tr>
                    <tr class="cell-left cell-height bg-g" style="padding: 0; margin: 0;"><td class="lcell">
                        <table class="indent"><tr>
                            <td style="width: 35%;"> Drain / Redon</td>
                            <td style="width: 35%;"><input type="checkbox" class="checkbox__control"> aspi</td>
                            <td style="width: 35%;"><input type="checkbox" class="checkbox__control"> déclive</td>
                        </tr></table>
                    </td></tr>
                    <tr class="cell-left cell-height" style="padding: 0; margin: 0;"><td class="lcell" style="text-indent: 40px">
                        Drain  / Redon 2 
                    </td></tr>
                    <tr class="cell-left cell-height" style="padding: 0; margin: 0;"><td class="lcell">
                        Dialyse
                    </td></tr>
                    <tr class="cell-left cell-height" style="padding: 0; margin: 0;"><td class="lcell">
                        PIA
                    </td></tr>
            </table>
        </td>
        <td style="padding: 0; margin: 0;">
            {% with nb_rows=7, cellsize='cell-height' %}
                {% include 'timed-table.html' %}
            {% endwith %}
        </td>
        <td class="cr" style="height: 100%;">
            {% include 'right/dig-right.html' %}
        </td>
    </tr>
</table>
