<table style="width: 100%;" >
    <tr style="padding: 0; margin: 0;">
        <td class="cl main-table border4 bg-red cell-height" style="padding: 0; margin: 0; text-align: center">
            <b>Fréquence de Surveillance</b>
        </td>
        <td class="main-table border4 bg-red" style="padding: 0; margin: 0; text-align: center; font-weight: bold">
            <table>
                <tr>
                    <td><input type="checkbox" class="checkbox__control"> 2 Heures</td>
                    <td><input type="checkbox" class="checkbox__control"> 4 Heures</td>
                    <td><input type="checkbox" class="checkbox__control"> ____ Heures</td>
                </tr>
            </table>
        </td>
        <td class="cr" style="height: 100%;">
        </td>
    </tr>
</table>
