<table style="width: 100%;" class="main-table">
    <tr class="r1">
        <td class="cl">Etiquette<br>
        </td>
        <td colspan="2">
            <table class="entete">
                <tbody>
                <tr>
                    <td>Poids:<br><br>
                        Taille:
                    </td>
                    <td style="width:50%">
                        <table class="w100">
                            <tbody>
                            <tr>
                                <td>7H - 19H<br>
                                    IDE:<br>
                                    AS:
                                </td>
                                <td>19H - 7H<br>
                                    IDE:<br>
                                    AS:
                                </td>
                                <td>7H - 19H<br>
                                    IDE:<br>
                                    AS:
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>Medecin:<br>
                        Signature:
                    </td>
                    <td> Allergie:<br>
                        Famille:<br>
                        <div style="padding-left:10px">
                            <input type="checkbox" class="checkbox__control"> IDE<br>
                            <input type="checkbox" class="checkbox__control"> Medecin
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>