<table style="width: 100%;" class="main-table">
    <tr>
        <td class="main-table" style="height: 30mm; width: 50mm; text-align: center">Etiquette<br>
        </td>
        <td style="width: 10%;">
            <table style="text-indent: 15px; line-height: 20px;">
                <tr><td>Poids:</td></tr>
                <tr><td>Poids Idéal:</td></tr>
                <tr><td>Poids Ajusté:</td></tr>
                <tr><td>Taille:</td></tr>
            </table>
        </td>
        <td class="bg-g main-table" style="vertical-align: top; width: 15%;">
            <table style="line-height: 20px; text-indent: 10px;">
                <tr class="title"><td>14H - 19H</td></tr>
                <tr><td>IDE:</td></tr>
                <tr><td>AS:</td></tr>
            </table>
        </td>
        <td class="main-table" style="vertical-align: top; width: 15%;">
            <table style="line-height: 20px;text-indent: 10px;">
                <tr class="title"><td>19H - 7H</td></tr>
                <tr><td>IDE:</td></tr>
                <tr><td>AS:</td></tr>
            </table>
        </td>
        <td class="bg-g main-table" style="vertical-align: top;width: 15%;">
            <table style="line-height: 20px;text-indent: 10px;">
                <tr class="title"><td>7H - 14H</td></tr>
                <tr><td>IDE:</td></tr>
                <tr><td>AS:</td></tr>
            </table>
        </td>
        <td class="main-table">
            <table style="line-height: 45px;text-indent: 10px;">
                <tr><td class="lcell bg-red"><b>Medecin:</b></td></tr>
                <tr><td class="lcell bg-red"><b>Signature:</b></td></tr>
            </table>
        </td>
        <td class="main-table">
            <table>
                <tr style="line-height: 25px;">
                    <td style="width: 20%"><b>Allergie:</b></td>
                    <td style="width: 20%"><input type="checkbox" class="checkbox__control"> NON</td>
                    <td><input type="checkbox" class="checkbox__control"> OUI:</td>
                </tr>
                <tr style="line-height: 25px;">
                    <td colspan="3"><b>Information Famille:</b></td>
                </tr>
                <tr style="line-height: 25px;">
                    <td colspan="3"><div style="padding-left:10px; line-height: 15px;">
                    <input type="checkbox" class="checkbox__control"> IDE<br>
                    <input type="checkbox" class="checkbox__control"> Medecin
            </div></td>
                </tr>
            </table>

        </td>
        </td>
    </tr>
</table>
