<table style="width: 100%;" >
    <tr style="padding: 0; margin: 0;">
        <td class="cl-title title" style="padding: 0; margin: 0;">
            N<br>E<br>U<br>R<br>O
        </td>
        <td class="cl-1" style="padding: 0; margin: 0;">
            <table style="padding: 0; margin: 0;">
                    <tr class="cell-left cell-height" style="padding: 0; margin: 0;"><td class="lcell"> Glasgow</td></tr>
                    <tr class="cell-left cell-height" style="padding: 0; margin: 0;"><td class="lcell"> RASS</td></tr>
                    <tr class="cell-left cell-height" style="padding: 0; margin: 0;"><td class="lcell"> BIS</td></tr>
                    <tr class="cell-left cell-height" style="padding: 0; margin: 0;"><td class="lcell"> TOF</td></tr>
                    <tr class="cell-left cell-height" style="padding: 0; margin: 0;"><td class="lcell"> Pupilles</td></tr>
                    <tr class="cell-left cell-height" style="padding: 0; margin: 0;"><td class="lcell"> EVN/BPS</td></tr>
            </table>
        </td>
        <td style="padding: 0; margin: 0;">
            {% with nb_rows=6 %}
                {% include 'timed-table.html' %}
            {% endwith %}
        </td>
        <!--<td class="cr" style="height: 100%;">
            {% include 'right/neuro-right.html' %}
        </td>-->
    </tr>
</table>