<table style="width: 100%;" >
    <tr style="padding: 0; margin: 0;">
        <td class="cl-title title bg-red" style="padding: 0; margin: 0;">
            P<br>R<br>E<br>S<br>C<br>R<br>I<br>P<br>T<br>I<br>O<br>N<br> <br>I<br>N<br>T<br>R<br>A<br>|<br>V<br>E<br>I<br>N<br>E<br>U<br>S<br>E
        </td>
        <td class="cl-1" style="padding: 0; margin: 0;">
            <table style="padding: 0; margin: 0;">
                    <tr class="cell-left cell-height bg-g" style="padding: 0; margin: 0;"><td class="lcell"> <b>Rea:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ml/24h</b></td></tr>
                    <tr class="cell-left cell-height" style="padding: 0; margin: 0;"><td class="lcell">
                        <table><tr>
                            <td style="text-indent: 5px; width: 25%;"><input type="checkbox" class="checkbox__control"> B1</td>
                            <td style="text-indent: 5px; width: 25%;"><input type="checkbox" class="checkbox__control"> B6</td>
                            <td style="text-indent: 5px; width: 25%;"><input type="checkbox" class="checkbox__control"> C</td>
                            <td style="text-indent: 5px; width: 25%;"><input type="checkbox" class="checkbox__control"> N</td>
                        </tr></table>
                    </td></tr>
                    <tr class="cell-left cell-height" style="padding: 0; margin: 0;">+<td class="lcell"></td></tr>
                    <tr class="cell-left cell-height bg-g" style="padding: 0; margin: 0;"><td class="lcell"> <b>SEDATION</b></td></tr>
                    <tr class="cell-left cell-height2" style="padding: 0; margin: 0;"><td class="lcell">
                        <table class="indent">
                            <tr><td><input type="checkbox" class="checkbox__control"> PROPOFOL 20mg/mL - <b><i>Obj:</i></b></td></tr>
                            <tr><td><input type="checkbox" class="checkbox__control"> MIDAZOLAM 5mg/mL - <b><i>Obj:</i></b></td></tr>
                        </table>
                    </td></tr>
                    <tr class="cell-left cell-height2" style="padding: 0; margin: 0;"><td class="lcell">
                        <table class="indent">
                            <tr><td><input type="checkbox" class="checkbox__control"> SUFENTANIL 5γ/mL - <b><i>Obj:</i></b></td></tr>
                            <tr><td><input type="checkbox" class="checkbox__control"> REMIFENTANIL 100γ/mL - <b><i>Obj:</i></b></td></tr>
                        </table>
                    </td></tr>
                     <tr class="cell-left cell-height" style="padding: 0; margin: 0;"><td class="lcell">
                        <input type="checkbox" class="checkbox__control"> DEXDOR 100γ/mL - <b><i>Obj:</i></b>
                    </td></tr>
                <tr class="cell-left cell-height bg-g" style="padding: 0; margin: 0;"><td class="lcell">
                        <table>
                            <tr>
                                <td>&nbsp;<b>NAD</b></td></td>
                                <td><b><input type="checkbox" class="checkbox__control"> 0,25/1</b></td></td>
                                <td><b><input type="checkbox" class="checkbox__control"> 0,5/1</b></td></td>
                                <td><b><input type="checkbox" class="checkbox__control"> 1/1</b></td></td>
                            </tr>
                        </table>

                    </tr>
                <tr class="cell-left cell-height" style="padding: 0; margin: 0;"><td class="lcell">
                        Obj PAM [&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;]
                    </td></tr>
                    <tr class="cell-left cell-height bg-g" style="padding: 0; margin: 0;"><td class="lcell"> <b>CURARE</b></td></tr>
                    <tr class="cell-left cell-height2" style="padding: 0; margin: 0;"><td class="lcell">
                        <table class="indent">
                            <tr><td><input type="checkbox" class="checkbox__control"> NIMBEX 5mg/mL - <b><i>Obj:</i></b></td></tr>
                            <tr><td><input type="checkbox" class="checkbox__control"> ATRACURIUM 20mg/mL - <b><i>Obj:</i></b></td></tr>
                        </table>
                    </td></tr>
                    <tr class="cell-left cell-height bg-g" style="padding: 0; margin: 0;"><td class="lcell"> <b>ANTICOAGULANT</b></td></tr>
                    <tr class="cell-left cell-height" style="padding: 0; margin: 0;"><td class="lcell">
                        <table><tr>
                            <td style="text-indent: 5px;"><input type="checkbox" class="checkbox__control"> HNF</td>
                            <td style="text-indent: 5px;"><input type="checkbox" class="checkbox__control"> HBPM</td>
                            <td style="text-indent: 5px;"><input type="checkbox" class="checkbox__control"> CALCI</td>
                        </tr></table>
                    </td></tr>
                    <tr class="cell-left cell-height" style="padding: 0; margin: 0;"><td class="lcell"></td></tr>
                    <tr class="cell-left cell-height" style="padding: 0; margin: 0;"><td class="lcell"></td></tr>
                    <tr class="cell-left cell-height" style="padding: 0; margin: 0;"><td class="lcell"></td></tr>
                    <tr class="cell-left cell-height" style="padding: 0; margin: 0;"><td class="lcell"></td></tr>
                    <tr class="cell-left cell-height" style="padding: 0; margin: 0;"><td class="lcell"></td></tr>
                    <tr class="cell-left cell-height" style="padding: 0; margin: 0;"><td class="lcell"></td></tr>
                    <tr class="cell-left cell-height" style="padding: 0; margin: 0;"><td class="lcell"></td></tr>
                    <tr class="cell-left cell-height" style="padding: 0; margin: 0;"><td class="lcell"></td></tr>
            </table>
        </td>
        <td style="padding: 0; margin: 0;">
            {% with nb_rows=22, greyrows=[0,3,7,9,11], bigrow=[4, 5, 10]%}
                {% include 'timed-table.html' %}
            {% endwith %}
        </td>
        <!--<td class="cr" style="height: 100%;">
            {% include 'right/rea-right.html' %}
        </td>-->
    </tr>
</table>
